<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sample text for portfolio template meta tag">
    <meta name="keywords" content="Sample text for portfolio template meta tag">
    <meta name="author" content="Sample text for portfolio template meta tag">
    <title>MY PORTFOLIO</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap" rel="stylesheet">
    <link rel="icon" href="./static/manu.jpg">
</head>
<body>
    <nav class="sticky">
        <label for="drop" class="toggle" id="main-toggle">
            <span class="nav-icon"></span>
        </label>
        <input type="checkbox" id="drop">
        <ul class="main-nav">
            <li><a href="/">Home</a></li>
            <li><a href="static/about-me.html">About me</a></li>
            <li><a href="static/skill-set.html">Skill-set</a></li>
            <li><a href="#contact-me">Contact me</a></li>
        </ul>
    </nav>
    <header class="grid-system-2 w-900 padding">
        <section class="align-center">
            <h1 class="medium-spacing">Hello, I am</h1>
            <h1 class="large">VENNA MANASA</h1>
        </section>
        <section class="center align-center">
            <img class="header-img max-width max-height" src="static/profile-pic.jpg" alt="profile-picture">
        </section>
    </header>

    <article class="baby-pink">
        <p class="quote uppercase">Life’s a mix of chaos and calm. Laugh through the mess, and you'll find the beauty in it</p>
    </article>

    <section class="wrapper">
        <section class="margin-auto">
            <img class="max-width max-height" src="static/about-me.jpg" alt="about-me-logo">
        </section>
        <section class="justify align-center">
            <p class="bold">About me</p>
            <p> Hello, I’m Manasa, a final-year B.Sc. (M.S.C.S) student at KBN College. 
                I have a strong passion for technology, particularly in computer science. Over the course of my studies, I have gained practical knowledge in various programming languages, including PHP, C, and Java. 
                Additionally, I am proficient in front-end web development, with hands-on experience in HTML and CSS. </p>

                <p>I am dedicated to continually expanding my skills and eager to take on new challenges in the tech world. My goal is to combine my technical expertise with creativity to build meaningful solutions and contribute to the ever-evolving digital landscape. </p>
           <center> <p class="padding-top"><a href="static/about-me.html" class="button-outline">More info</a></p>
            <p class="padding-top"><a href="static/myresume.docx" class="button-outline" download>My Resume</a></p> </center>
        </section>
    </section>
    <section>
        <h3 class="main-title center padding">Skills</h3>
    </section>
    <section class="wrapper">
        <section class="column">
            <p class="padding-bottom">Technical skills</p>
            <section class="skills">
                <ul class="no-bullet-list no-padding-list-item">
                    <li>
                        <p>html</p>
                        <span class="progress-bar"><span class="html"></span></span>
                    </li>
                    <li>
                        <p>css</p>
                        <span class="progress-bar"><span class="css"></span></span>
                    </li>
                    <li>
                        <p>javascript</p>
                        <span class="progress-bar"><span class="javascript"></span></span>
                    </li>
                    <li>
                        <p>php, mysql</p>
                        <span class="progress-bar"><span class="php"></span></span>
                    </li>
                </ul>
            </section>
        </section>
        <section class="column">
            <p class="padding-bottom">Professional skills</p>
            <section class="skills">
                <ul class="no-bullet-list no-padding-list-item">
                    <li>
                        <p>communication</p>
                        <span class="progress-bar"><span class="comm-adapt"></span></span>
                    </li>
                    <li>
                        <p>teamplayer, adaptability</p>
                        <span class="progress-bar"><span class="team-player"></span></span>
                    </li>
                    <li>
                        <p>problem solving</p>
                        <span class="progress-bar"><span class="problem-solving"></span></span>
                    </li>
                    <li>
                        <p>open-minded</p>
                        <span class="progress-bar"><span class="open-minded"></span></span>
                    </li>
                </ul>
            </section>
        </section>
    </section>
    </section>

    <section id="contact-me" class="grid-system-2 w-900 padding">
        <section class="margin-auto">
            <img class="max-width max-height" src="static/Contact-me-img.png" alt="contact-me-illustration">
        </section>
        <section class="margin-auto align-center">
            <h1 class="medium-spacing center">Let's get in touch!<span></span></h1>
            <section class="box-contact margin-auto padding-top">
                <span>
                    <a href="https://www.linkedin.com/in/manu-manasa-a5100b317/" target="_blank"><img class="logo" src="static/linkedin.png"
                            alt=""></a>
                </span>
                <span>
                    <a href="https://github.com/vennamanasa" target="_blank"><img class="logo" src="static/github.png" alt=""></a>
                </span>
                <span>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=manumanasa6666@gmail.com" target="_blank"><img class="logo" src="static/email.png" alt=""></a>
                </span>
            </section>
        </section>
    </section>

    <footer>@manasa 2025</footer>
</body>

</html>